@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth !important;
    scroll-padding-top: 96px;
}


.mainContact{
    background-image: url('https://media.istockphoto.com/id/1335509326/photo/light-pink-and-blue-defocused-blurred-motion-abstract-background.jpg?s=612x612&w=0&k=20&c=KxoOERQPUuqzsWXJLVN11EQ0iPkwl9ixUAICGaT1qwU=');
}
